.main {
  display: grid;
  grid-template-areas:
  "banner banner banner"
  ". description .";
  grid-template-columns: 1fr 800px 1fr;
}

.banner {
  grid-area: banner;
}

.description {
  grid-area: description;
}


/*
 *  Media Query
 */

@media screen and (max-width: 800px) {
 .main {
   display: grid;
   grid-template-areas:
   "banner"
   "description";
   grid-template-columns: 1fr;
 }
}
