h1 {
  font-family: 'ralewaythin';
  font-size: 45px;
  margin-top: 20px;
  margin-bottom: 30px;
  transition: 0.5s;
}

h2 {
  font-family: 'Open Sans Condensed';
  font-size: 15px;
  margin: 0 0 20px 0;
  transition: 0.5s;
}

p {
  font-family: 'Open Sans Condensed';
  font-size: 23px;
  transition: 0.5s;
}

.navItem {
  font-size: 28px;
  font-weight: bold;
}

.navItem a {
  font-family: 'Ostrich Sans Dashed';
}

.navItem.current {
  font-family: 'Ostrich Sans rounded';
}


/*
 *  Media Query
 */

@media screen and (max-width: 700px) {
  h1 {
    font-size: 40px;
  }

  p {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 38px;
  }

  p {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 35px;
  }

  p {
    font-size: 16px;
  }
}
