/*
Background CSS
SRC: https://css-tricks.com/perfect-full-page-background-image/
*/
html {
  background-color: rgb(197,197,197);
  background: url(../src/img/ruler-1246653_1920_3.jpg) no-repeat center center fixed;
  background-size: 1500px 1000px;
  transition: 0.1s;
}

body {
  margin: 0;
}

section {
  height: 600px;
}

/* Fonts */
a {
  color: grey;
  text-decoration: none;
}

h1 {
  font-family: 'Ubuntu Condensed';
  font-size: 55px;
  margin: 0;
}

h2 {
  font-family: 'Open Sans Condensed';
  font-size: 15px;
  margin: 0 0 20px 0;
}

p {
  font-family: 'PT Sans Narrow';
  font-size: 16px;
}

/* Classes */
.center {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav {
  display: inline;
  margin-right: 12px;
}

.quote {
  border-left: solid 2px rgb(26,26,26);
  margin-left: 15px;
  padding-left: 5px;
}

/* footer */
footer {
  bottom: 0;
  height: 45px;
  position: fixed;
  text-align: center;
  width:100%;
}

img {
  height: 30px;
  padding: 10px 5px 0 5px;
  width: 30px;
}


/*
Media query
https://mediag.com/blog/popular-screen-resolutions-designing-for-all/
*/
/*
Starting point of text-warping occur, change to phone view
*/
@media only screen and (max-width: 546px) and (orientation : landscape) {
  a {
    color: green;
  }
  section {
    height: 2000px;
  }
 }

@media screen and (min-width: 546px){
  html {
    background-size: 2000px 1300px;
    transition: 0.1s;
  }

  section {
    height: auto;
  }

  /* Font */
  a {
    transition: 0.2s;
  }

  a:hover {
    color: black;
    font-weight: bold;
    text-shadow: 1px 0px rgb(26,26,26);
    transition: 0.2s;
  }

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 23px;
  }

  /* Classes */
  .center {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav {
    margin-right: 20px;
  }

  .quote {
    margin-left: 30px;
    padding-left: 10px;
  }

  /* Footer */
  footer {
    height: 55px;
  }

  img {
    height: 40px;
    padding: 10px 5px 0 5px;
    width: 40px;
    transition: 0.2s
  }

  img:hover {
    height: 50px;
    padding-top: 0;
    width: 50px;
    transition: 0.2s;
  }
}
