body {
  background: url(../src/img/.jpg) no-repeat center center fixed;
}

a {
  text-decoration: none;
}

nav {
  padding-top: 10px;
  padding-bottom: 20px;
}

.brand {
  height: 280.8px;
  width: 450px;
  padding-bottom: 0;
}

.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navItem a {
  color: black;
  font-family: 'Ostrich Sans';
  font-size: 34px;
}
