.css-transitions-only-after-page-load * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

nav {
  grid-area: nav;
}

footer {
  grid-area: footer;
}

.grid {
  display: grid;
  grid-template-areas:
  ". nav ."
  ". main ."
  ". footer .";
  grid-template-rows: auto auto 70px;
  grid-template-columns: 1fr 1200px 1fr;
}

.main {
  grid-area: main;
  padding-bottom: 50px;
}


/*
 *  Media Query
 */

@media screen and (max-width: 1200px) {
  .grid {
    display: grid;
    grid-template-areas:
    "nav"
    "main"
    "footer";
    grid-template-rows: auto auto 70px;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 800px) {
  .grid {
    display: grid;
    grid-template-areas:
    "nav"
    "main"
    "footer";
    grid-template-rows: auto auto 70px;
    grid-template-columns: 1fr;
  }
}
