nav {
  background: white;
  padding-top: 30px;
  padding-bottom: 10px;
}

footer {
  background: white;
}

.brand {
  height: 216px;
  width: 381px;
}

.current {
  text-shadow: 1px 0px rgb(26,26,26);
}

.navItem {
  display: inline-block;
  margin: 0;
  padding-left: 6px;
  padding-right: 6px;
}

.navItem a {
  color: rgb(26,26,26);
  text-decoration: none;
  text-shadow: 1px 9px white;
  transition: 0.5s;
}

.navItem a:hover {
  text-shadow: 1px 0px rgb(26,26,26);
  transition: 0.5s;
}

.socialIcon {
  height: 42px;
  padding: 0 5px 0 5px;
  width: 42px;
}

.socialIcon:hover {
  filter: invert(40%);
  transform: rotate(360deg);
  transition: 0.6s;
}


/*
 *  Media Query
 */

@media screen and (max-width: 700px) {
  .brand {
    transform: scale(0.94);
  }

  .socialIcon {
    height: 40px;
    width: 40px;
  }
}

@media screen and (max-width: 600px) {
  .brand {
    transform: scale(0.88);
  }

  .socialIcon {
    height: 35px;
    width: 35px;
  }
}

@media screen and (max-width: 500px) {
  .brand {
    transform: scale(0.82);
  }

  .socialIcon {
    height: 32px;
    width: 32px;
  }
}
