nav {
  background: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer {
  background: white;
}

.brand {
  height: 216px;
  width: 381px;
}

.current {
  text-shadow: 1px 0px rgb(26,26,26);
}

.navItem {
  display: inline-block;
  margin: 0;
  padding-left: 6px;
  padding-right: 6px;
}

.navItem a {
  color: rgb(26,26,26);
  text-decoration: none;
  text-shadow: 1px 9px white;
  transition: 0.2s;
}

.navItem a:hover {
  text-shadow: 1px 0px rgb(26,26,26);
  transition: 0.2s;
}

.socialIcon {
  height: 35px;
  padding: 0 5px 0 5px;
  width: 35px;
  transition: 0.2s;
}

.socialIcon:hover {
  transition: 0.2s;
  transform: scale(1.3);
}
