body {
  background: rgb(26,26,26);
  height: 100%;
  margin: 0;
  width: 100%;
}

nav {
  text-align: center;
}

footer {
  text-align: center;
}

a {
  text-decoration: none;
}

.description {
  border-left: solid rgb(30, 30, 30);
  display:inline-block;
  margin-top: 50px;
  padding-left: 50px;
  text-align: left;
  transition: 0.5s;
}

.main {
  background: white;
}

.link {
  color: blue;
  text-decoration: underline;
}

.pad_left_50 {
    padding-left: 50px;
}


/*
 *  Media Query
 */

@media screen and (max-width: 1200px) {
  .description{
    border-left: none;
    margin-top: 10px;
    padding: 0 20px 0 20px;
  }
}

@media screen and (max-width: 800px) {
  .banner {
    width: auto;
    height: 600px;
    object-fit: cover;
  }
}
