/*
Background CSS
SRC: https://css-tricks.com/perfect-full-page-background-image/
*/
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

/* Fonts */
a {
  color: rgb(26,26,26);
  text-decoration: none;
}

h1 {
  font-family: 'Acme';
  font-size: 35px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 30px;
}

h2 {
  font-family: 'Open Sans Condensed';
  font-size: 15px;
  margin: 0 0 20px 0;
}

p {
  font-family: 'Alegreya Sans';
  font-size: 23px;
}

/* Classes */
.center {
  grid-area: center;
  display:inline-block;
  text-align: left;
}

.content {
  grid-area: content;
  display: grid;

  background: rgb(26,26,26);
  box-shadow: 0 0 10px 50px rgb(26,26,26);
  color: white;
  grid-template-areas:
  ". center .";
  grid-template-columns: 1fr 800px 1fr;
}

.contentIMG {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.current {
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-areas:
  "nav"
  "content"
  "footer";
  grid-template-rows: auto auto 70px;
  text-align: center;
}

.home {
  height: 216px;
  width: 381px;
}

.link {
  color: blue;
  text-decoration: underline;
}

.nav {
  display: inline;
  margin-right: 12px;
}

nav {
  /*border-bottom: solid 2px black;*/
  grid-area: nav;
  margin-top: 30px;
  margin-bottom: 70px;
}

/* footer */
footer {
  grid-area: footer;
}

.footer {
  height: 30px;
  padding: 0 5px 0 5px;
  width: 30px;
}
