#About {
  top: 0;
  left: 0;
  position: absolute;
  height: auto;
  width: 100%;
}

#About.page-enter {
  animation: slideInLeft 0.5s forwards;
}

#About.page-exit {
  animation: slideOutLeft 0.5s forwards;
}

#About .side_by_side > img {
  display: none;  
}

#About img.mobile {
  display: inherit;
  width: 100%;
}

#About #Page > ul {
  list-style: none;
}

#About #Page > ul > li {
  margin-bottom: 5px;
}

#About #Page > ul > li:before {
  content: '\25FD';
  margin: 0 15px 0px -25px;
}

.spacing {
  margin: 15px 0;
}

.pad_l {
  padding-left: 15px;
}

.pad_r {
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  #About #Page .side_by_side {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }

  #About #Page .side_by_side > img {
    display: inherit;
    height: 200px;
  }

  #About #Page img.mobile {
    display: none;
  }

  #About #Page > ul > li:before {
    margin: 0 15px 0px -15px;
  }
}