#Content {
  max-height: 150px;
}

#Content.show {
  height: auto;
  max-height: 5000px;
}

@media screen and (min-width: 768px) {
  #Content {
    transition: max-height 3s;
  }

  #Content.home { /* remove transition animation if going back home to avoid glitched animation */
    transition: max-height 0s;
  }
}