#Content {
  max-height: 150px;
  transition: max-height 5s;
}

#Content.show {
  max-height: 5000px;
}

#Page {
  margin: 0 10%;
  text-align: left;
  font-size: 18px;
}

#Page a {
  color: rgb(85,26,139);
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  #Page {
    margin: 0 15%;
  }
}

@media screen and (min-width: 1025px) {
  #Page {
    margin: 0 20%;
  }
}
