footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  margin-top: 20px;
  text-align: center;
}

footer p {
  font-size: 11px;
  color: #aaa;
  margin: 0;
}

footer .social_media {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  padding-bottom: 15px;
}

footer .social_media svg {
  height: auto;
  /* width: 30px; */
  width: 27px;
}

footer .icon {
  margin: 0 10px;
}

footer .icon_txt {
  display: none;
}

.hidden {
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .social_media svg:hover {
    fill: rgb(85,26,139);
  }

  footer .icon {
    position: relative;
  }
  
  footer .icon_txt {
    /* from w3schools.com */
    background: rgb(40,40,40);
    border-radius: 2px;
    bottom: 90%;
    color: white;
    display: inherit;
    font-size: 12px;
    left: 0%;
    opacity: 0;
    padding: 3px 5px;
    position: absolute;
    transition: 0.2s;
    visibility: hidden;
    white-space: nowrap;
  }
  
  footer .icon .icon_txt::after {
    /* from w3schools.com */
    border-color: rgb(40,40,40) transparent transparent transparent;
    border-style: solid;
    border-width: 5px;
    content: "";
    left: 15%;
    margin-left: -8px;
    position: absolute;
    top: 100%;
  }
  
  footer .icon:hover .icon_txt {
    /* from w3schools.com */
    bottom: 120%;
    opacity: 1;
    visibility: visible;
  }

  footer .icon .icon_txt.linkedin::after {
    margin-left: -17px;
  }
}


