#Home {
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

#Home > .whitespace {
  flex: 1 0 auto;
}

#Home.page-enter {
  animation: slideInRight 0.5s forwards;
}

#Home.page-exit {
  animation: slideOutLeft 0.5s forwards;
}

#logoHD {
  display: none;
}

#logo {
  height: auto;
  width: 95vw;
  /* max-height: 400px;
  max-width: 706px; */
  margin-bottom: 13px;
  visibility: hidden;
  max-height: 360px;
  max-width: 635.4px;
}

#logo.show {
  visibility: visible;
}

@media screen and (min-width: 1080px) {
  #logo {
    display: none;
  }

  #logoHD {
    height: auto;
    width: 95vw;
    /* max-height: 400px;
    max-width: 706px; */
    margin-bottom: 13px;
    visibility: hidden;
    display: inherit;
    max-height: 360px;
    max-width: 635.4px;
  }

  #logoHD.show {
    visibility: visible;
  }
}