#Page {
  text-align: left;
  font-family: 'Raleway';
  /* font-size: 17px; */
  font-size: 16px;
  transition: padding 0.2s;
  margin-left: 6vw;
  margin-right: 6vw;
}

#Page p {
  line-height: 1.7;
  margin-block-start: 0;
  margin-block-end: 0;
}

#Page ol {
  line-height: 1.7;
  margin: 0;
}

#Page a {
  color: rgb(85,26,139);
  font-weight: 600;
}

#Page h2 {
  /* font-size: 24px; */
  font-size: 22px;
}

@media screen and (min-width: 768px) {
  #Page {
    margin-left: 12vw;
    margin-right: 12vw;
  }
}

@media screen and (min-width: 1200px) {
  #Page {
    /* padding: 0 25%; */
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}