#Projects {
  top: 0;
  left: 0;
  position: absolute;
  height: auto;
  width: 100%;
}

#Projects strong {
  color: #222;
}

#Projects strong.grey {
  color: #555;
}

#Projects.page-enter {
  animation: slideInRight 0.5s forwards;
}

#Projects.page-exit {
  animation: slideOutRight 0.5s forwards;
}

#Projects .projects {
  cursor: default;
  font-weight: 700;
  color: rgb(85,26,139);
}

#Projects header nav a:not(.projects):hover {
  color: rgb(85,26,139);
  text-shadow: 0px 0px rgba(85,26,139,1);
  transition: text-shadow 0.3s;
}

.rc-collapse {
  border-radius: 3px;
  border: 1px solid #d9d9d9;
}

.rc-collapse-content {
  color: #222;
}

.rc-collapse > .rc-collapse-item > .rc-collapse-header {
  color: black;
  user-select: none;
}

.rc-collapse > .rc-collapse-item-disabled > .rc-collapse-header {
  color: black;
}

.rc-collapse > .rc-collapse-item > .rc-collapse-header .rc-collapse-extra {
  margin-right: 2px;
}

.rc-collapse-content-box > img {
  width: 100%;
}

.pad_bottom {
  padding-bottom: 10px;
}

.pad_top {
  padding-top: 10px;
}

#Projects .project_container span {
    margin-right: 12px;
}

#Projects svg {
    height: auto;
    width: 27px;
}

#Projects .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#Projects .container > h2 {
  flex-grow: 1;
}

#Projects .sort_container {
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
}

#Projects .small_text {
  color: gray;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  #Projects figure img:not(.__react_modal_image__medium_img) {
    width: 450px;
  }

  #Projects figure.small img:not(.__react_modal_image__medium_img) {
    width: 400px;
  }

  #Projects figure.large img:not(.__react_modal_image__medium_img) {
    width: 600px;
  }

  #Projects figure figcaption {
    margin-bottom: 0;
  }
}