.Tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    user-select: none;
    padding-left: 5px;
}

.Tags .tag {
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    margin-right: 4px;
    padding: 4px 7px;
}

.Tags .spacer {
    margin-left: auto;
}

.Tags .Web {
    background: #3D9970;
    color: #fff;
}

.Tags .Web:hover {
    background: #388060;
}

.Tags .Com_Vis {
    background: #FF6347;
    color: white;
}

.Tags .Com_Vis:hover {
    background: #d6533c;
}

.Tags .Com_Graph {
    background: #6A5ACD;
    color: white;
}

.Tags .Com_Graph:hover {
    background: #5649a6;
}

.Tags .Coursework {
    background: #00356b;
    color: #fff;
}

.Tags .Coursework:hover {
    background: #001f3f;
}

.Tags .HTML {
    background: #363636;
    color: #fff;
}

.Tags .HTML:hover {
    background: #202020;    
}

.Tags .CSS {
    background:  #ff3860;
    color: #fff;
}

.Tags .CSS:hover {
    background: #eb1e48;
}

.Tags .JavaScript {
    background: #6B5B95;
    color: #fff;
}

.Tags .JavaScript:hover {
    background: #524378;
}

.Tags .Matlab {
    background: #b865b8;
    color: #fff;
}

.Tags .Matlab:hover {
    background: #9c529c;
}

.Tags .C__ {
    background: #00d1b2;
    color: #fff;
}

.Tags .C__:hover {
    background: #00b398;
    
}

.Tags .Github:hover {
    fill: rgb(85,26,139);
}

.Tags .GoogleDrive:hover {
    fill: rgb(85,26,139);
}

/* 
Popular colors online:

black: #363636
aqua: #00d1b2
blue: #3273dc
light blue: #209cee
green: #23d160
purple: #6B5B95
red: #ff3860
*/